<h1>Список продуктов с категориями</h1>

<ul>

<?php foreach ($products as $product) { ?>
	
	<li>

		<div class="product_name"><?php echo $product->name ?></div>

		<p>
			
			<?php foreach ($product->categories as $one_cat) { ?>
				<span class="one_cat"> <?php echo $one_cat->name; ?> </span>
			<?php	}  ?>
				
		</p>
		
	</li>

<?php } ?>

</ul>

<style>
	.one_cat{
	    display: inline-block;
	    margin-right: 4px;
	    padding: 1px 4px;
	    border: 1px solid #d4d4d4;
	    color: #929292;
	}
	.product_name{
		font-size: 21px;
	}
	ul li{
		list-style-type: none;
		margin-bottom: 20px;
	}
	p{
		margin-top: 3px;
		margin-bottom: 0px;
	}
</style>

